//imports of fonts
@font-face {
    font-family: orangekid;
    src: url("../../assets/fonts/orange_kid.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
//imports of other SCSS...

//------------------------------------- MIXINS -------------------------------------------------------------
//Definir proporciones y background de la animacion

// @mixin animatedFrames($color1,$color2,$color3, $color4, $color5,$color6){
//     background-image: conic-gradient(
//         from var(--border-angle),
//         $color1,
//         $color2,
//         $color3
//     ),conic-gradient(from var(--border-angle), $color4, $color5, $color6);
//     background-size: calc(100% - (var(--border-size) * 2))
//         calc(100% - (var(--border-size) * 2)),
//       cover;
// }
//Definiendo la animacion en si
// @mixin marcoAnimadoMedidas($borderSize, $borderAngle,$color1, $color2, $color3, $color4, $color5, $color6){
//     @include animatedFrames($color1, $color2, $color3, $color4, $color5, $color6);
//     --border-size: 3px;
//     --border-angle: 0turn;
//     background-position: center center;
//     background-repeat: no-repeat;
//     animation: bg-spin 3s linear infinite;
//     @keyframes bg-spin {
//       to {
//         --border-angle: 1turn;
//       }
//     }
// }
//Placeholders
//Modulando la animacion para usarlo en otros posibles lugares sin repetir brutalmente el codigo
//NECESITO CAMBIAR ESTOS PLACEHOLDERS A MIXINS, LO HARE TOMORROW


//Clases especiales para animaciones/decoraciones
#marcoAnimado{
    // @include marcoAnimadoMedidas(3px,0turn,#213, #112 50%, #213, transparent 20%, #08f, #f03);
    display: flex;
    justify-content: center;
    align-items: center;
}

//Estructura basica fundamental de los divs en general.
//-------------------------------------------- HEADER -----------------------------------------
header{
    display: flex;
    position:sticky;
    top: 0;
    z-index: 1000;
    // background: linear-gradient(0deg, transparent 10%, #11232F 100%);
    background: linear-gradient(0deg, transparent 1%,  rgba(17,35,47,1) 99%);
    #maxWidth{
        display: flex;
        width: 100%;
        height: 100%;
        #titleFrame{
            display: flex;
            #marcoAnimado{
                display: flex;
            }
            #owner{
                margin: 0;
                font-family: 'Kanit', sans-serif;
            }
        }
        ul{
            display: flex;
            justify-content:space-between;
            align-items: center; 
            margin: {
                top: 10px;
                bottom: 0; 
            };
            padding: 0;
            li{
                // @include marcoAnimadoMedidas(3px,0turn,#213, #112 50%, #213, transparent 20%, #08f, #f03);
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                font-family: orangekid;
                // color: white;
                // background-color: #0C2331;
                background-color: transparent;
                cursor: pointer;
                a{
                    color: white;          
                }    
                &:hover{    
                    background-color: #0E1668;
                    transition-duration: 0.5s;
                    border-color: white;
                    a{
                        color: #00FFFF;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }
}
//------------------------------------------- HEADER MEDIA QUERIES-------------------------------------------

/*Header for Mobile (small ones)*/
@media only screen and (max-width: 360px){ //should be 280px
    header{
        // height: 180px;
        height: 100px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        #langChanger{
            position: absolute;
            bottom: 70%;
            right: 80%;
            width: 50px;
            height: 50px;
            appearance: none;
        }
        #maxWidth{
            flex-flow: column nowrap;
            align-items: center;
            #titleFrame{
                width: 60%;
                flex-flow: column nowrap;
                align-items: center;
                #marcoAnimado{
                    justify-content: center;
                    align-items: center;
                    height: 70px;
                    width: 70px;
                    &:hover {
                      animation-play-state: paused;
                    }
                    img{
                        height: 90%;
                        border: transparent;
                    }
                }
            }
    
            ul{
                // width: 98%;
                // height: 30%;
                width: 100%;
                height: 7%;
                position: fixed;
                bottom: 0%;
                background: linear-gradient(0deg, transparent 10%, rgba(49,164,250,1) 21%, transparent 89%);
                align-items: end;
                li{
                    width: 24%;
                    height: 75%;
                    font-size: 1.1em;
                    background-color: #10222D;
                }     
            }
        }
    }
}

@media only screen and (min-width:361px) and (max-width: 600px){
    header{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 180px;
        #maxWidth{
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            height: 180px;
            #titleFrame{
                width: 50%;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                #marcoAnimado{
                    height: 70px;
                    width: 70px;
                }
                #owner{
                    font-size: 1.4em;
                }
            }
            ul{
                // width: 98%;
                // height: 30%;
                width: 100%;
                height: 7%;
                position: fixed;
                bottom: 0%;
                background: linear-gradient(0deg, transparent 10%, rgba(49,164,250,1) 21%, transparent 89%);
                align-items: end;
                li{
                    width: 25%;
                    height: 80%;
                    font-size: 1.5em;
                    background-color: #10222D;
                }   
            }
        }
    }   
}

@media only screen and (min-width: 601px){
    header{
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 100px;
        padding-left: 5%;
        padding-right: 5%;
        #maxWidth{
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            height: 100px;
            max-width: 1000px;
            #titleFrame{
                flex-flow: row nowrap;
                //justify-content: center;
                align-items: center;
                width: 45%;
                font-size: 1.2em;
                #marcoAnimado{
                    align-items: center;
                    height: 70px;
                    width: 70px;
                    &:hover {
                      animation-play-state: paused;
                    }
                    img{
                        height: 90%;
                        border: transparent;
                    }
                }
                #owner{
                    margin-left: 5%;
                }
            }
            ul{
                margin-top: 0;
                width: 50%;
                height: 50%;
                li{
                    width: 24%;
                    height: 75%;
                    font-size: 1.2em;
                }     
            }
        }
    }
}
//Properties
@property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}