<header>
    <nav id="maxWidth">
        <div id="titleFrame">
            <div id="marcoAnimado" >
                <img class="img-thumbnail rounded-circle" src="../../../assets/img/logo.png" alt="logo">
            </div>
            <p id="owner"></p>
        </div>
        <ul>
            <li (click)="goToHome()"><span>inicio</span></li>
            <li><span>proyectos</span></li>
            <li><span>contacto</span></li>
            <li><span>redes</span></li>
        </ul>
    </nav>
</header>

<!-- <div mdbDropdown class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-expanded="false"
      mdbDropdownToggle
    >
      Dropdown button
    </button>
    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div> -->
