<header>
    <nav id="maxWidth">
        <div id="titleFrame">
            <div id="marcoAnimado" >
                <img class="img-thumbnail rounded-circle" src="assets/img/logo.png" alt="logo">
            </div>
            <p id="owner"></p>
        </div>
        <ul>
            <li (click)="goToHome()" class="border border-info rounded-end rounded-8"><span>inicio</span></li>
            <li class="border border-info"><span>proyectos</span></li>
            <li class="border border-info"><span>contacto</span></li>
            <li class="border border-info rounded-start rounded-8"><span>redes</span></li>
        </ul>
    </nav>
</header>
