<header>
    <nav id="maxWidth">
        <div id="titleFrame">
            <div id="marcoAnimado" >
                <img class="img-thumbnail rounded-circle" src="assets/img/logo.png" alt="logo">
            </div>
            <p id="owner"></p>
        </div>
        <ul>
            <li (click)="goTo($event)" class="border-bottom border-info rounded-top"><a href="#">inicio</a></li>
            <li (click)="goTo($event)" class="border-bottom border-info rounded-top"><a href="#">proyectos</a></li>
            <li class="border-bottom border-info rounded-top"><a href="#">contacto</a></li>
            <li class="border-bottom border-info rounded-top"><a href="#">redes</a></li>
        </ul>
    </nav>
</header>
