footer{
    display: flex;
    flex-grow: nowrap row;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    height: 10vh;
    padding: {
        bottom: 5em;
    }
    background: linear-gradient(0deg, #11232F 74%, transparent 100%);
    font-size: .8em;
    p{
        margin: 0;
        font-family: orangekid;
        color: white;
    }
}