<app-header></app-header>
<main>
    <div class="projects border border-4 border-info rounded" *ngFor="let project of projects; let i = index">
        <img src="{{project.src}}" alt="Fissure in Sandstone"/>
        <div class="projectContext">
            <h2 class="text-light">{{project.titulo}}</h2>
            <p class="text-light">{{[project.description]}}</p>
            <button type="button" class="btn btn-info" mdbRipple>Ver proyecto</button>
        </div>
    </div>
</main>
<app-footer></app-footer>
