<main>
    <div id="textoAnimado">
        <p id="animatedText1"></p>
        <p id="animatedText2"></p>
    </div>
    <section class="parent">
        <span>¿Quien soy?</span>
        <article id="AboutMe">
            <p>
                Soy un desarrollador web, me gusta mucho el diseño y la
                programación. Me encanta trabajar en equipo y aprender de los demás.
            </p>
            <p>
                Comence aprendiendo lo básico sobre fundamentos de la programación para tener una idea
                clara de cómo confeccionar mi código a travez de cualquier lenguaje de programacion
                y actualmente aprendo y mejorar mis conocimientos sobre desarrollo Front y Backend.
            </p>
            <p>
                He hecho varios proyectos en el que se requiere de los conocimientos mostrados para
                confeccionar paginas web que sean del atractivo del publico siempre pensando en la mantenibilidad
                y correcto funcionamento para que se pueda ver bien no solo en computadores, sino en cualquier
                dispositivo con un patron de diseño dinamico.
            </p>
        </article>
        <span>¿Cuales son mis conocimientos?</span>
        <article id="knowledges">
            <div class="know{{i+1}}" *ngFor="let know of conocimientos; let i=index">
                <div>
                    <img class="btnKnows" (click)="openModalMain($event)" [src]="know.src" alt="{{know.nombre}}" style="width: 100%">
                </div>
            </div>
        </article>
       <span>Certificaciones</span>
       <article id="certificaciones">
            <div id="cadif1">
                <span>Front-End</span>
                <div id="cadif1logo">
                    <img src="assets/img/logo-cadif1.svg" alt="">
                </div>
                <p>
                    - Obtencion de los certificados de:
                </p>
                <div class="certificados" *ngFor="let certs of certsCadif1; let i=index">
                    <!-- <p style="color: {{certs.color}}">{{certs.name}}</p> -->
                    <button type="button" id="{{certs.id}}" (click)="openModalMain($event)" class="btn {{certs.color}} certsBtn" mdbRipple>{{certs.name}}</button>
                </div>
            </div>
       </article>
    </section>
</main>
