//variables

main{
    margin-top: -1px;
    #textoAnimado{
        display: flex;
        justify-content: center;
        #animatedText1, #animatedText2{
            font-family: orangekid;
        }
    }
    .parent{
        display: flex;
        margin: {
            top: 10px;
        }
        #AboutMe{
            max-width: 1000px;
            text-align: center;        
        }
        span{
            color:aqua;
            font-family: orangekid;
            margin-bottom: 20px;
        }
        p{
            color: white;
            font-family: orangekid;
        }
        #knowledges{
            display: grid;
            .know{
                @for $j from 1 to 13 {
                    &#{$j}{
                        border: 1px solid transparent;
                        div{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            img{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        #certificaciones{
            display: flex;
            #cadif1{
                display: flex;
                #cadif1logo{
                    display: flex;
                    // background: linear-gradient(0deg, transparent 3%, rgb(247, 246, 245) 57%, transparent 97%);
                }
            }
            span{
                color: yellow;
            }
        }
        #contacts {
            display: flex;
            .contactOption{
                display: flex;
                h3 {
                    color: white;
                    font-family: orangekid;
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 360px){ //should be 280px
    main{
        margin: {
            bottom: 25%;
        }
        #textoAnimado {
            #animatedText1, #animatedText2{
                margin: 0;
                font-family: orangekid;
                // font-size: 1.5em;
                font-size: 8vw;
            }
        }
        .parent {
            flex-flow: nowrap column;  
            align-items: center;
            span{
                font-size: 1.5em;         
            }
            p{
                font-size: 1.3em;
                margin: {
                    right: 20px;
                    left: 20px;
                }
            }
            #knowledges{
                width: 100%;
                max-width: 300px; //250px
                height: 50%;
                grid-template-columns: 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr; 
                gap: 10px 10px; 
                grid-template-areas: 
                  "div1 div2 div3 div4"
                  "div5 div6 div7 div8"
                  "div9 div10 div11 div12"; 
                  .know{
                    &1 { grid-area: div1; }
                    &2 { grid-area: div2; }
                    &3 { grid-area: div3; }
                    &4 { grid-area: div4; }
                    &5 { grid-area: div5; }
                    &6 { grid-area: div6; }
                    &7 { grid-area: div7; }
                    &8 { grid-area: div8; }
                    &9 { grid-area: div9; }
                    &10 { grid-area: div10; }
                    &11 { grid-area: div11; }
                    &12 { grid-area: div12; }
                  }
            }
            #certificaciones{
                flex-flow: nowrap column;
                align-items: center;
                width: 100%;
                padding: {
                    bottom: 3em;
                }
                #cadif1{
                    flex-flow: nowrap column;
                    align-items: center; 
                    width: 100%;
                    #cadif1logo{
                        flex-flow: nowrap row;
                        justify-content: center;
                        width: 100%;
                        img {
                            width: 40%;
                        }
                    }
                    .certificados{
                        button{
                            margin-bottom: 10px;
                            font-size: 0.7em;
                        }
                    }
                }
            } 
            #contacts{
                width: 100%;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                .contactOption{
                    flex-flow: row nowrap;
                    width: 60%;
                    height: 7vh;
                    justify-content: space-between;
                    align-items: center;
                    h3{
                        margin: 0;
                        line-height: 2.3 !important;
                        width: 83%;
                    }
                    img{
                        height: 70%;
                        object-position: left 50%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

//REPARAR QUERY A PARTIR DE 769px
@media only screen and (min-width:361px) {//and (max-width: 768px)
    main{
        #textoAnimado {
            #animatedText1, #animatedText2{
                font-size: 1.8em;
            }
        }
        .parent{
            flex-flow: nowrap column;
            align-items: center;
            span{
                color:aqua;
                font-size: 1.8em;
                font-family: orangekid;
            }
            p{
                margin: {
                    right: 20px;
                    left: 20px;
                }
                color: white;
                font-family: orangekid;
                font-size: 1.7em;
            }     
            #knowledges{
                max-width: 500px; //300px
                height: 60%;
                width: 100%;
                grid-template-columns: 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr; 
                gap: 10px 10px; 
                grid-template-areas: 
                  "div1 div2 div3 div4"
                  "div5 div6 div7 div8"
                  "div9 div10 div11 div12"; 
                  .know{
                    &1 { grid-area: div1; }
                    &2 { grid-area: div2; }
                    &3 { grid-area: div3; }
                    &4 { grid-area: div4; }
                    &5 { grid-area: div5; }
                    &6 { grid-area: div6; }
                    &7 { grid-area: div7; }
                    &8 { grid-area: div8; }
                    &9 { grid-area: div9; }
                    &10 { grid-area: div10; }
                    &11 { grid-area: div11; }
                    &12 { grid-area: div12; }
                  }
            }
            #certificaciones{
                flex-flow: nowrap column;
                align-items: center;
                width: 100%;
                padding: {
                    // bottom: 1em;
                }
                #cadif1{
                    flex-flow: nowrap column;
                    align-items: center; 
                    width: 100%;
                    #cadif1logo{
                        flex-flow: nowrap row;
                        justify-content: center;
                        width: 100%;
                        img {
                            width: 40%;
                            max-width:30vh;
                        }
                    }
                    .certificados{
                        button{
                            margin-bottom: 30px;
                        }
                    }
                }
            } 
            #contacts{
                width: 100%;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                .contactOption{
                    flex-flow: row nowrap;
                    width: 60%;
                    height: 7vh;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 200px;
                    h3{
                        margin: 0;
                        line-height: 2.3 !important;
                        width: 83%;
                    }
                    img{
                        height: 70%;
                        object-position: left 50%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:362px) and (max-width: 700px){
    main {
        margin: {
            bottom: 20%;
        }
    }
}

@media only screen and (min-width:701px) {
    main {
        margin: {
            bottom: 5%;
        }
    }
}