<main>
    <div id="textoAnimado">
        <p id="animatedText1"></p>
        <p id="animatedText2"></p>
    </div>
    <section class="parent">
        <span>¿Quien soy?</span>
        <article>
            <p>
                Soy un desarrollador web, me gusta mucho el diseño y la
                programación. Me encanta trabajar en equipo y aprender de los demás.
            </p>
        </article>
        <span>¿Cuales son mis conocimientos?</span>
        <article id="knowledges">
            <div class="know{{i+1}}" *ngFor="let know of conocimientos; let i=index">
                <div>
                    <img [src]="know.src" alt="{{know.nombre}}" style="width: 100%">
                </div>
            </div>
        </article>
       <span>Certificaciones</span>
       <article id="certificaciones">
            <div id="cadif1">
                <span>Front-End</span>
                <div id="cadif1logo">
                    <img src="../../../assets/img/logo-cadif1.svg" alt="">
                </div>
                <p>
                    - Obtencion de los certificados de:
                </p>
                <div class="certificados" *ngFor="let certs of certsCadif1; let i=index">
                    <p style="color: {{certs.color}}">{{certs.name}}</p>
                </div>
            </div>
            <div>
                
            </div>
            <div>


            </div>
       </article>
    </section>
</main>
<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <div mdbDropdown class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-expanded="false"
      mdbDropdownToggle
    >
      Dropdown button
    </button>
    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</div>