<!-- MODAL DE CERTIFICACIONES PARA EL MAIN COMPONENT -->
<!-- <div *ngIf="path === '/home' && originBtn === 'certsBtn'"> -->
  <div class="modal-header {{bgColor}}" *ngIf="path === '/home' && originBtn === 'certsBtn'">
    <h5 class="modal-title {{titleColor}}" id="exampleModalLabel">{{ title }}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body {{bgColor}}" *ngIf="path === '/home' && originBtn === 'certsBtn'">
    <img src="{{ src }}" class="img-fluid" alt="..." />
  </div>
<!-- </div> -->

<!-- MODAL DE CONOCIMIENTOS PARA EL MAIN COMPONENT -->
<!-- <div *ngIf="path === '/home' && originBtn === 'btnKnows'"> -->
  <div class="modal-header modalKnowsModal" *ngIf="path === '/home' && originBtn === 'btnKnows'">
    <img id="mdlKnowImg" src="{{src}}" alt="">
    <h5 class="modal-title text-info" id="exampleModalLabel">{{name}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body modalKnowsModal" *ngIf="path === '/home' && originBtn === 'btnKnows'">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-info">#</th>
          <th scope="col" class="text-info">Conomientos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let element of desc; let i = index">
          <th class="text-info"scope="row">{{i+1}}</th>
          <td class="text-info">{{element}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer modalKnowsModal" *ngIf="path === '/home' && originBtn === 'btnKnows'">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Cerrar
    </button>
  </div>
<!-- </div> -->
