/* You can add global styles to this file, and also import other style files */
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
 
@import 'node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss';
html{
    // width: 100%;
    min-height: 100%;
    position: relative;
    body{
        width: 100%;
        padding-right: 0 !important; 
        background-image: url("./assets/img/space2Front.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
}
//PONER ANTERIOR A ESTE LA ETIQUETA BODY PARA QUE SOLO AFECTE EL BODY
//Aqui controlar todo el scrollbar

//La barra con la que haces el scroll


//Maneja el scroll


// ::-webkit-scrollbar { 
//     display: none; 
// }